html {
    box-sizing: border-box; /* Ширина блока с полями */
    font-size: 16px; /* Размер шрифта */
}
  
*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

body {
    background-color: beige;
}

.header-container {
    height: 5vh;
    width: 100vw;
    border-bottom: 1px solid;
}

.title-name {
    text-align: center;
    font-size: 40px;
}

.dropdown {
    margin-left: 40px;
    margin-top: -30px;
}

.title-link {
    color: black;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: bisque;
    z-index: 1;
    border: 1px solid;
}

.dropdown-content a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

a:hover {
    text-decoration: underline;
}


.product_display {
    display: flex;
    width: 80vw;
    height: 100%;
    border-right: 1px solid;
    margin-right: 0;
}

.product-img-miss_dior {
    width: 70vw;
    height: 70vh;
    margin-top: 100px;
    margin-left: 5vw;
    

}

.product-img-sauvage {
    width: 50vw;
    height: 80vh;
    margin-top: 100px;
    margin-left: 5vw;
    

}

.image-module {
    margin-left: 12%
}

.class-pictures {
    color: gray;
    font-size: 15px;
}

.item-title {
    margin-top: 10px;
    font-size: 30px;
}

.buy-product {
    margin-top: 10px;
}

.btn-product {
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 24px;
    font-size: 20px;
}

.mb-2 {
    margin-top: 1000px;
    margin-left: -1300px;
}


.cart_display {
    width: 15vw;
    height: 100vh;
    float: right; 
    margin-top: -950px;
}

.product_img_cart {
    width: 200px;
    height: 200px;
}

.cart-item {
    width: 15vw;
    height: 25vh;
    margin-top: 80px;
}

.counter-wrapper {
    display: flex;
    gap: 1em;
    margin-left: 35%;
}

.cart-item_title {
    text-align: center;
}