html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
} 

body {
    font-family: 'Indie Flower', cursive;
}

.header-container {
    display: block;
    width: 680px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    text-align: center;
    color: green;
    background-color: orange;
}

.main-container {
    display: flex;
    width: 680px;
    height: 600px;
    background-color: darkorange;

}

.js-input,
.js-btn {
    width: 300px;
    height: 40px;
}

#todo {
    font-size: 20px;
    color: black;
}

#btn {
    width: 120px;
    font-size: 15px;
    background-color: green;
    color: orange;
}

.js-todos {
    width: 300px;
    height: 30px;
    margin-top: 50px;
    margin-left: -400px;
    font-size: 30px;
    color: green;
}

