html {
    box-sizing: border-box; 
    font-size: 16px; 
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
} 

h1 {
    color: red;
    text-align: center;
    font-size: 50px;
}

body {
    background-color: black;
}

main {
    display: flex;
}

.daredevil-img {
    display: block;
    width: 700px;
    height: 800px;
}

.daredevil-img2 {
    display: block;
    width: 600px;
    height: 800px;
    margin: 0 auto;
}

.char {
    display: block;
    color: white;
    padding-left: 20px;
}

.back {
    display: block;
    margin-top: 10px;
    margin-left: 325px;
}